<%- include('../partials/head') %>
<div class="content-con">
    <div class="centered-con">
        <h1 class="error-code-title">404</h1>
        <p class="error-code-text">Looks like you're lost :/</p>
    </div>
</div>
<%- include('../partials/footer') %>
