<%- include('../partials/head') %>
<div class="content-con">
    <div class="centered-con">
        <h1 class="error-code-title"><%= error.code %></h1>
        <p class="error-code-text"><%= error.message %></p>
    </div>
</div>
<%- include('../partials/footer') %>
