:root {
    --primary: #36454f;
    --fg: #ffffff;
    --bg: #1b2328;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body {
    width: 100%;
    height: 100%;
    font-family: 'Inter';
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

section {
    padding: 4rem 0;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 900;
}

.text-multiline {
    white-space: pre-wrap;
}

.hero {
    margin-top: 16rem;
}

.placeholder-img {
    background-color: var(--primary);
    width: 100%;
    height: 400px;
}

.error-code-title {
    font-weight: 900;
    font-size: 144pt;
}

.error-code-text {
    font-weight: bold;
    font-size: 16pt;
}

/* TODO: create media queries */
